<html>
  <head>
    <title>
      Posts list page
    </title>
  </head>
  <body>
    <h1>Posts list</h1>
    <p>
      This is my favorite posts list:
    </p>

    <ul>
      <% posts.each do |post| %>
        <li><%= post %></li>
      <% end %>
    </ul>
  </body>
</html>
