<html>
  <head>
    <title>
      Create post page
    </title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" name="title">
      <textarea name="text">
      </textarea>

      <input type="submit" value="Create post">
    </form>
  </body>
</html>
