<html>
  <head>
    <title>
      Welcome page
    </title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      This is my favorite blog!
    </p>

    <p>
      <a href="/posts">Here is posts list</a>
    </p>

    <div>
      <p>FAQ list:</p>
      <ul>
        <% faqs.each do |faq| %>
          <li><a href="/faq/<%= faq[:id] %>"><%= faq[:question] %></a></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
